body {
    padding-top: 100px;
}

.navbar-inverse {
	border: 0;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}
    
.navbar-fixed-top .navbar-brand {
    padding: 19.5px 15px;
    font-size: 35px;
	line-height: 35px;
}

.jumbotron {
	text-align: center;
}
	
.social-icons > li > a {
	padding-top: 11px;
	padding-bottom: 9px;
}

.social-icons {
	font-size: 30px;
	line-height: 30px;
}

.forecast {
	padding-bottom: 0;
}

.forecast .day {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.forecast .text-conditions {
	font-size: 20px;
	height: 26px;
	margin-top: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.forecast .image-conditions {
	display: block;
	height: 64px;
	vertical-align: middle;
	text-align: center;
}

.forecast .text-precipitation, .forecast .text-wind {
	height: 16px;
	line-height: 16px;
	vertical-align: bottom;
}

.forecast .day {
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
}

.forecast .max {
	color: #C22;
}

.forecast .min {
	color: #22C;
}

.forecast .rotate-0 {
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.forecast .rotate-1 {
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.forecast .rotate-2 {
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.forecast .rotate-3 {
	-ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.forecast .rotate-4 {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.forecast .rotate-5 {
	-ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(255deg);
}

.forecast .rotate-6 {
	-ms-transform: rotate(270deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(255deg);
}

.forecast .rotate-7 {
	-ms-transform: rotate(315deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(255deg);
}

.forecast h4 {
	text-align: center;
}

.datepicker .caret {
	margin-left: -20px;
	margin-top: 20px;
	position: absolute;
	color: #fff;
}

.datepicker input {
	width: 200px;
}

.datepicker ::-webkit-input-placeholder {
	color: #fff;
	opacity:  1;
}

.datepicker ::-moz-input-placeholder {
	color: #fff;
	opacity:  1;
}

.datepicker ::-ms-input-placeholder {
	color: #fff;
	opacity:  1;
}

.datepicker ::input-placeholder {
	color: #fff;
	opacity:  1;
}

.historyfilter > button , .historyfilter > .datepicker {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.historyfilter > button {
	display: block;
	float: left;
	margin-bottom: 4px;
	margin-right: 4px;
	height: 42px;
}

.historyfilter > .datepicker input {
	margin-bottom: 4px;
	height: 42px;
}

.historyfilter > .datepicker {
	margin-right: 4px;
	display: block;
	float: left;
}

.other-links {
	font-size: 20px;
}

.consolidation {
	border: 1px solid #ddd;
}

#notificationLoading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#notificationLoadingContent {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}

#notificationMessageInfo, #notificationMessageError {
	position: fixed;
	width: 100%;
	bottom: 0;
	margin-bottom: 0;
}

footer {
    padding: 30px 0;
}



/* Smaller versions */

@media(max-width:1199px) {
	
	.social-icons {
		font-size: 15px;
		line-height: 15px;
	}
	
	.social-icons > li > a{
		padding: 15px 10px;
	}
}

@media(max-width:991px) {
    
	.social-icons > li > a {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media(max-width:767px) {
	
	body {
	    padding-top: 70px;
	}
	
	.navbar-fixed-top .navbar-brand {
	    padding: 15px 15px;
	    font-size: 20px;
		line-height: 20px;
	}
	
	.social-icons {
		font-size: 25px;
		line-height: 25px;
	}
    
	.social-icons > li > a {
	    padding: 0 10px;
	}
    
	.social-icons > li {
	    float: right;
	}
    
	.navbar-fixed-top .nav {
		padding: 0 10px;
	}
}
