html, body {
   margin:0;
   padding:0;
   height:100%;
}

body {
    padding-top: 100px;
}

.view {
    margin-bottom: 100px;
}

.container {
	min-height: 100%;
	position: relative;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.navbar-inverse {
	border: 0;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}
    
.navbar-fixed-top .navbar-brand {
    padding: 19.5px 15px;
    font-size: 35px;
	line-height: 35px;
}

.jumbotron {
	text-align: center;
}
	
.social-icons > li > a {
	padding-top: 11px;
	padding-bottom: 9px;
}

.social-icons {
	font-size: 30px;
	line-height: 30px;
}


#notificationLoading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#notificationLoadingContent {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}

#notificationMessageInfo, #notificationMessageError {
	position: fixed;
	width: 100%;
	bottom: 0;
	margin-bottom: 0;
}

footer {
    padding: 30px 0;
}

/*
 * Forecast
 */

.forecast {
	padding-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.forecast .day, .forecast .text-wind, .forecast .text-precipitation, .forecast .temperature {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.forecast .text-conditions {
	font-size: 20px;
	height: 26px;
	margin-top: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.forecast .image-conditions {
	display: block;
	height: 64px;
	vertical-align: middle;
	text-align: center;
}

.forecast .text-precipitation, .forecast .text-wind {
	height: 16px;
	line-height: 16px;
	vertical-align: bottom;
}

.forecast .day {
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
}

.forecast .max {
	color: #C22;
}

.forecast .min {
	color: #22C;
}

.forecast .rotate-0 {
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.forecast .rotate-1 {
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.forecast .rotate-2 {
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.forecast .rotate-3 {
	-ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.forecast .rotate-4 {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.forecast .rotate-5 {
	-ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(255deg);
}

.forecast .rotate-6 {
	-ms-transform: rotate(270deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(255deg);
}

.forecast .rotate-7 {
	-ms-transform: rotate(315deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(255deg);
}

.forecast h4 {
	text-align: center;
}

/*
 * History
 */

.datepicker .caret {
	margin-left: -20px;
	margin-top: 20px;
	position: absolute;
	color: #fff;
}

.datepicker ::-webkit-input-placeholder {
	color: #fff;
	opacity:  1;
}

.datepicker ::-moz-input-placeholder {
	color: #fff;
	opacity:  1;
}

.datepicker ::-ms-input-placeholder {
	color: #fff;
	opacity:  1;
}

.datepicker ::input-placeholder {
	color: #fff;
	opacity:  1;
}

.historyfilter {
	margin-left: 0px;
	margin-right: 0px;
}

.historyfilter > button , .historyfilter > .datepicker {
 	height: 44px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.historyfilter > .datepicker input {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
 	height: 44px;
}

.historyfilter > .datepicker {
	margin: 0;
	padding: 0;
}

.history-tabs {
	margin-bottom: 21px;
}

.history-tabs .panel {
	border-top: 0;
}

.history-tabs a:hover {
	cursor: pointer;
}

.consolidation-conditions {
	text-align: center;
}

.consolidation-conditions .image-conditions {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	font-size: 20px;
	height: 64px;
	width: 64px;
	line-height: 64px;
	vertical-align: middle;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.history-consolidation .conditon-sunny {
	background-image: url('../images/weather/1.png');
}

.history-consolidation .conditon-rainy {
	background-image: url('../images/weather/50.png');
}

.history-consolidation .conditon-snowy {
	background-image: url('../images/weather/51.png');
}

.consolidation-metrics {
	border: 1px solid #ddd;
}

.consolidation-metrics, .consolidation-conditions {
	height: 160px;
}

.consolidation-conditions-content {
	padding: 25px 0 0 0;
}

.other-links {
	font-size: 20px;
}

/*
 * Graph
 */
 
.metric-graph {
  width: 100%;
  height: 250px;
  min-height: 250px;
}

graphmetrics, .metric-graph {
  position: relative;
  display: block;
}

.metric-graph-tooltip {
	position: absolute;
}

.metric-graph-tooltip .metric-graph-tooltip-label {
	width: 50px;
	float: left;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.metric-graph-tooltip .metric-graph-tooltip-value {
	margin-left: 70px;
}

.metric-graph-tooltip .metric-graph-tooltip-content {

}

.metric-graph-tooltip {
	padding: 0px;
}


/* Smaller versions */

@media(max-width:991px) {
    
	.social-icons > li > a {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.social-icons {
		font-size: 15px;
		line-height: 15px;
	}
}

@media(max-width:767px) {
	
	body {
	    padding-top: 70px;
	}
	
	.navbar-fixed-top .navbar-brand {
	    padding: 15px 15px;
	    font-size: 20px;
		line-height: 20px;
	}
	
	.social-icons {
		font-size: 25px;
		line-height: 25px;
	}
    
	.social-icons > li > a {
	    padding: 0 10px;
	}
    
	.social-icons > li {
	    float: right;
	}
    
	.navbar-fixed-top .nav {
		padding: 0 10px;
	}
	
	.historyfilter, .history-tabs, .forecast {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.history-consolidation div {
		padding-left: 0;
		padding-right: 0;
	}
}
