<h1>About... </h1>

<div class="row well">
    <div class="col-md-4">
        <h2>... Me</h2>
		<p>
			I'm a passionate developer, who enjoys designing applications, solving problems and building pretty interfaces.
		</p>
		<p>
			Working in a team, my objectives are to share my knowledge with my coworkers and always try to improve my skills.
		</p>
		<p>
			I spend some of my free time writing software that I share on the Internet in order to discover and practice new technologies.
		</p>
		<p>
			Check out my other personal projects: 
			<ul>
				<li><a target="_blank" href="http://play.battlejump.com/">Play Battle Jump (JS + WebGL)</a></li>
				<li><a target="_blank" href="https://github.com/leonsulivan/error-logger">Error Logger (JS)</a></li>
				<li><a target="_blank" href="http://www.jerome-baudoux.com/FreeQRCodeForPC--encoder-decoder-QR-code-gratuit.html">QR code Reader</a></li>
			</ul>
		</p>
    </div>
    <div class="col-md-4">
        <h2>... The project</h2>
		<p>
			This project was conducted in order to gain more experience on some cool frameworks I've heard a lot. 
		</p>
		<p>
			It also allowed me to show an example of what I'm able to deliver in a few weeks.
		</p>
		<p>
			Don't hesitate to visit the <a target="_blank" href="https://github.com/leonsulivan/WeatherAnalytics">github repository</a> of this project
		</p>
    </div>
    <div class="col-md-4">
        <h2>... The frameworks</h2>
        <h4>Back-end</h4>
        <ul>
        	<li>Play 2 Framework</li>
        	<li>Java 8 (Lambda, Map/Reduce)</li>
        	<li>Akka</li>
        	<li>Google Guice</li>
        	<li>Google Guava</li>
        </ul>
        <h4>Front-end</h4>
        <ul>
        	<li>AngularJS</li>
        	<li>Bootstrap (CSS) + Angularstrap (JS)</li>
        	<li>FontAwesome</li>
        	<li>D3.js</li>
        	<li>Yo</li>
        	<li>Bower</li>
        	<li>Grunt</li>
        </ul>
    </div>
</div>

<h2>Links</h2>
<ul>
	<li>
		The project is hosted by <a target="_blank" href="https://www.heroku.com">Heroku</a>.
	</li>
	<li>
		The herokuapp url for this site is: <a target="_blank" href="http://jerome-baudoux.herokuapp.com/#/">http://jerome-baudoux.herokuapp.com</a>
	</li>
	<li>
		Weather icons made by GraphBerry from <a target="_blank" href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> 
		is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
	</li>
</ul>