<h1>Contact Me</h1>

<div class="well"><i class="fa fa-info-circle"></i> You can contact me via social networks or by e-mail for job offers or to talk about my current projects.</div>

<div class="row">
    <div class="col-md-6">
		<h3>
			<a target="_blank" href="https://www.linkedin.com/in/jeromebaudoux">
				<i class="fa fa-linkedin-square"></i> LinkedIn (for job offers)
			</a>
		</h3> 
	</div>
    <div class="col-md-6">
		<h3>
			<a target="_blank" href="http://hg.jerome-baudoux.com">
				<i class="fa fa-bitbucket-square"></i> BitBucket (for projects)
			</a>
		</h3> 
	</div>
    <div class="col-md-12">
		<h3>
			<i class="fa fa-plus-square"></i> contact<i class="fa fa-at"></i>jerome-baudoux.com (for both)
		</h3> 
	</div>
</div>
