<h1> 
	<span>Forecast</span>
	
	<button placeholder="Select a city" type="button" class="btn btn-info" 
		ng-model="selectedCity" data-html="1" ng-options="city as city.name+', '+city.country for city in cities" bs-select>
	  <span class="caret"></span>
	</button>
	
	<button placeholder="Select a unit" type="button" class="btn btn-info" 
		ng-model="selectedUnit" data-html="1" ng-options="unit as unit.name for unit in units" bs-select>
	  <span class="caret"></span>
	</button>
</h1>

<div class="forecast row well">
  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" ng-repeat="day in forecast">

    <div class="thumbnail">
    
      <h3 class="day" ng-bind="getDayofWeek(day)"></h3>
      
      <div class="image-conditions">
      	<img ng-src="images/weather/{{day.conditions.code}}.png" alt="{{day.conditions.description}}">
      </div>
      
      <div class="caption">
      
        <h4 class="temperature">
        	<span class="max" ng-bind="getTemperatureMax(day)">?</span>/
        	<span class="min" ng-bind="getTemperatureMin(day)">?</span>
        </h4>
        
        <p class="text-conditions" ng-click="onDetail()">
        	<span tooltip-placement="bottom" tooltip="{{day.conditions.description}}">{{day.conditions.description}}</span>
        </p>

        <p class="text-precipitation">
        	<img src="images/water_drop.png" width="16" alt="Water"> <span class="text-precipitation" ng-bind="getPrecipitation(day)">?</span>
        </p>
        
        <span class="text-wind">
        	<img src="images/wind.png" width="16" alt="Wind"> <span class="text-wind" ng-bind="getWindSpeed(day)">?</span> <i class="fa fa-arrow-up rotate-{{getDirectionDay(day)}} text-wind"></i>
        </span>
        
      </div>
    </div>
  </div>
</div>
