<h1>History</h1>

<div class="navbar historyfilter row" role="navigation">

	<button placeholder="Select a city" type="button" class="btn btn-default col-xs-6 col-sm-3 col-md-2" 
		ng-model="selectedCity" data-html="1" ng-options="city as city.name+', '+city.country for city in cities" bs-select>
		<span class="caret"></span>
	</button>

	<button placeholder="Select a unit" type="button" class="btn btn-default col-xs-6 col-sm-3 col-md-2" 
		ng-model="selectedUnit" data-html="1" ng-options="unit as unit.name for unit in units" bs-select>
		<span class="caret"></span>
	</button>

	<div class="datepicker col-xs-6 col-sm-3 col-md-2"> 
		<input type="text" class="btn btn-default" data-container="body" data-date-format="yyyy-MM-dd" ng-model="fromDate" data-autoclose="true" data-min-date="2014-10-02" data-max-date="{{(untilDate)?untilDate:'today'}}" placeholder="From" bs-datepicker>
		<span class="caret"></span>
	</div>
		
	<div class="datepicker col-xs-6 col-sm-3 col-md-2">
		<input type="text" class="btn btn-default" data-container="body" data-date-format="yyyy-MM-dd" ng-model="untilDate" data-autoclose="true" data-min-date="{{fromDate}}" data-max-date="today" placeholder="Until" bs-datepicker>
		<span class="caret"></span>
	</div>

	<button type="button" class="btn btn-info col-xs-12 col-md-4" ng-click="fetchHistory()">Fetch History</button>
</div>

<div class="well" ng-hide="consolidation">
	<p>
		To consult the weather history, please select a city, a unit, a valid date range and then click on 'Fetch History'. 
	</p>	
	<p>
		The history is built by saving the weather forecast into a database. This means that you currently cannot check the weather history very far in the past. But each passing day increases the allowed range.
	</p>
	<span>
		The oldest data are from 2014-10-03, the date when the recording feature was released. 
	</span>
</div>

<div ng-model="tabs.activeTab" class="history-tabs" ng-show="consolidation" bs-tabs>
	<div ng-repeat="tab in tabs" title="{{tab.title}}" bs-pane></div>
	<div class="panel panel-default">
		<div class="panel-body">
			<graphmetrics history="history" metric="tabs.activeTab" unit="currentSearchUnit"></graphmetrics>
		</div>
	</div>
</div>

<div class="alert alert-info" role="alert" ng-show="consolidation">
	<i class="fa fa-info-circle"></i> 
	The oldest data are from 2014-10-03, the date when the recording feature was released. 
</div>

<div class="row history-consolidation" ng-show="consolidation">
	<div class="col-md-8">
		<div class="table-responsive">
			<table class="table table-striped consolidation-metrics">
			<tr>
				<th>Consolidated Metrics</th>
				<th>Min</th>
				<th>Max</th>
				<th>Average</th>
			</tr>
			<tr>
				<td>Temperature</td>
				<td ng-bind="getTemperatureMin()"></td>
				<td ng-bind="getTemperatureMax()"></td>
				<td ng-bind="getTemperatureAvg()"></td>
			</tr>
			<tr>
				<td>Wind speed</td>
				<td ng-bind="getWindSpeedMin()"></td>
				<td ng-bind="getWindSpeedMax()"></td>
				<td ng-bind="getWindSpeedAvg()"></td>
			</tr>
			<tr>
				<td>Precipitation</td>
				<td ng-bind="getPrecipitationMin()"></td>
				<td ng-bind="getPrecipitationMax()"></td>
				<td ng-bind="getPrecipitationAvg()"></td>
			</tr>
			</table>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default consolidation-conditions">
			<div class="panel-heading">
				<h3 class="panel-title">Consolidated Conditions</h3>
			</div>
			<div class="panel-body consolidation-conditions-content">
				<div class="image-conditions conditon-sunny" ng-bind="getSunnyDays()">?</div>
				<div class="image-conditions conditon-rainy" ng-bind="getRainyDays()">?</div>
				<div class="image-conditions conditon-snowy" ng-bind="getSnowyDays()">?</div>
			</div>
		</div>
	</div>
</div>