<h1>History <small><i class="fa fa-cog"></i> Work in progress</small></h1>

<div class="navbar historyfilter" role="navigation">
	<button placeholder="Select a city" type="button" class="btn btn-default" 
		ng-model="selectedCity" data-html="1" ng-options="city as city.name+', '+city.country for city in cities" bs-select>
	  <span class="caret"></span>
	</button>

	<button placeholder="Select a unit" type="button" class="btn btn-default" 
		ng-model="selectedUnit" data-html="1" ng-options="unit as unit.name for unit in units" bs-select>
	  <span class="caret"></span>
	</button>

	<span class="datepicker"> 
		<input type="text" class="btn btn-default" data-date-format="yyyy-MM-dd" ng-model="fromDate" data-autoclose="true" data-max-date="{{(untilDate)?untilDate:'today'}}" placeholder="From" bs-datepicker>
		<span class="caret"></span>
	</span>

	<span class="datepicker">
		<input type="text" class="btn btn-default" data-date-format="yyyy-MM-dd" ng-model="untilDate" data-autoclose="true" data-min-date="{{fromDate}}" data-max-date="today" placeholder="Until" bs-datepicker>
		<span class="caret"></span>
	</span>

	<button type="button" class="btn btn-info" ng-click="fetchHistory()">Fetch History</button>
</div>

<div class="well" ng-hide="history">
	<p>
		To consult the weather history, please select a city, a unit and a date range and then click on 'Fetch History'. 
	</p>	
	<span>
		This section is still in development, but in a near future you'll be able to see a graphical view of the evolution of the weather.
	</span>
</div>

<div class="panel panel-default" ng-show="consolidation">
	<div class="panel-heading">
		<h3 class="panel-title">Consolidated data</h3>
	</div>
	<div class="panel-body">

	</div>
</div>
