@(title: String)(content: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
    	<link rel="stylesheet" href="/styles/vendor.css" />
    	<link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body>
    	<div class="container">
    		<h2>I guess we both know that isn't going to happen.</h2>
	    	<div class="jumbotron">
			  <h1>:(</h1>
			  <p>@content</p>
			  <p><a class="btn btn-primary btn-lg" role="button" href="/">Back to main menu</a></p>
			</div>
		</div>
    </body>
    <script src="/scripts/vendor.js"></script>
</html>